/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/TaxiHail.iml
/.idea/modules/TaxiHailCore.main.iml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/uiDesigner.xml
/taxi-hail-client.iml
/.idea/sqldialects.xml
/.idea
